body{
    margin-right: 200px;
}

h2 {
  font-family: "Karla", sans-serif;
    font-size: 14px;
    margin-top: 123px;
}

p{
    font-family: "Karla", sans-serif;
    font-size: 10px;    
}


q{
    font-family: "GrandSlang-Italic";
    font-size: 15px;
    line-height: 10px;
}

h3{
    font-family: "Karla", sans-serif;
    font-size: 8px;
}

footer{
    font-family: "Karla", sans-serif;
    font-size: 8px;
    text-align: end;
    margin: 10px;
}

/**h:hover{
    color: aqua;
}**/

#player{
    width: 80%;
}

.lines{
    width: 200%;
    height: 200%;
}

.experiment{
   width:200px; /*container-width*/
   overflow:hidden; /*hide bounds of image */
   margin:0;   /*reset margin of figure tag*/
    
}
.experiment img{
   display:block; /*remove inline-block spaces*/
   width:50%; /*make image streatch*/
}

.supertext{
    width: 130px;
  position: fixed;
  z-index: 1;
  top: 300px;
  right: 10px;
  overflow-x: hidden;
  padding: 8px 0;

}

.supertext a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 15px;
  color: black;
  display: block;
}

.sidenav {
  width: 130px;
  position: fixed;
  z-index: 1;
  top: 110px;
  left: 10px;
  overflow-x: hidden;
  padding: 8px 0;
    font-family: "Karla", sans-serif;
    cursor: pointer;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 15px;
  color: black;
  display: block;
}



.main {
  margin-left: 140px; /* Same width as the sidebar + left position in px */
  font-size: 17px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

body img{
    max-width: 60%;
    max-height: 60%;
    align-content: auto;
    margin: 100px;
}


